# Variaveis para controle do processo
PROCESSO_DATA_CONCILIACAO="01/01/2026"               # Por padrão é D-1 (formato dd/mm/aaaa)
PROCESSO_USUARIO_PERMISSAO_CAIXA="MARILIAPR"         # Por padrão é MARILIAPR

# Variaveis do app Consinco
ERP_CONSINCO_LOGIN="@login"                         # Obrigatório
ERP_CONSINCO_SENHA="@senha"                         # Obrigatório

# Variaveis de caminhos
CAMINHO_PLANILHA_CAIXAS_RM="resources/xlsx/caixas_rm.xlsx"
CAMINHO_EXE_ERP_MODULO_SUPERVISOR="C:\C5Client\Financeiro\Supervisor.exe"
CAMINHO_EXE_ERP_MODULO_OPERADOR="C:\C5Client\Financeiro\Operador.exe"
CAMINHO_PASTA_TEMP="@caminho_projeto\temp"
CAMINHO_ARQUIVO_TRANSFERENCIAS_PENDENTES="@caminho_projeto\temp\transferencias_pendentes.csv"
CAMINHO_IMG_TABELA_TRANSFERENCIAS_PENDENTES="@caminho_projeto\temp\tabela_transferencias_pendentes.png"

# Variaveis E-MAIL
ENVIAR_EMAIL=False                                  # False ou True
DESTINATARIOS=['@destinatario1', '@destinatario2']  # Necessario passar os destinatarios separados por vírgula e com aspas simples

# Variaveis E-MAIL SMTP
SMTP_FROM="@from"                                   # Obrigatório
SMTP_SERV="@server"                                 # Obrigatório
SMTP_USER="@user"                                   # Obrigatório
SMTP_PSWD="@password"                               # Obrigatório
SMTP_PORT=25