# Variaveis para controle do processo
PROCESSO_DATA_EMISSAO_FILTRO="01/01/2026"            # Por padrão é D-1 (formato dd/mm/aaaa)

# Variaveis do app Consinco
ERP_CONSINCO_LOGIN="@login"                         # Obrigatório
ERP_CONSINCO_SENHA="@senha"                         # Obrigatório

# Variaveis de caminhos
CAMINHO_EXE_ERP_MODULO_OPERADOR="C:\C5Client\Financeiro\Operador.exe"
CAMINHO_ONEDRIVE_ROBO="C:\Users\robo\OneDrive - Extrabom Supermercados\RPA-PYTHON\bot-envio-duplicata-boleto"
CAMINHO_ARQUIVO_DATAS_EXECUCAO="C:\Users\robo\OneDrive - Extrabom Supermercados\RPA-PYTHON\bot-envio-duplicata-boleto\datas_execucao.json"

# Variaveis E-MAIL
ENVIAR_EMAIL=False                                  # False ou True
DESTINATARIOS=['@destinatario1', '@destinatario2']  # Necessario passar os destinatarios separados por vírgula e com aspas simples

# Variaveis E-MAIL SMTP
SMTP_FROM="@from"                                   # Obrigatório
SMTP_SERV="@server"                                 # Obrigatório
SMTP_USER="@user"                                   # Obrigatório
SMTP_PSWD="@password"                               # Obrigatório
SMTP_PORT=25

# Variaveis Sinfonia
SINFONIA_BASE_URL="https://sinfonia.live/api"       # URL base da API Sinfonia
SINFONIA_TOKEN_API_MASTER="@token"                  # Obrigatório